<div>
  <div class="modal-header header-text">{{editMode ? 'Kérdőív módosítása' : 'Új kérdőív létrehozása'}}</div>
  <div class="modal-body">
    <form [formGroup]="newFormForm">
      <div class="form-input">
        <div>Kérdőív neve:</div>
        <div>
          <input class="form-control" type="text" formControlName="pollName">
        </div>
      </div>
      <div class="form-input">
        <div>Divízió:</div>
        <div>
          <select class="form-control" formControlName="depID">
            <option *ngFor="let dep of departmentList" [ngValue]="dep.DepID">
              {{ dep.DepName }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-input">
        <div>Kitölthető:</div>
        <div>
          <input type="date" class="form-control" formControlName="availableFrom" [max]="newFormForm.value.availableTo">
        </div>
      </div>
      <div class="form-input">
        <div>Eddig lehet:</div>
        <div>
          <input type="date" class="form-control" formControlName="availableTo" [min]="newFormForm.value.availableFrom">
        </div>
      </div>
      <div class="form-input">
        <div>Kérdőív típusa:</div>
        <div>
          <select class="form-control" formControlName="pollTypeID">
            <option *ngFor="let type of pollFormTypeList" [ngValue]="type.pollTypeID">
              {{ type.pollTypeDescription }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-input">
        <div>Kötelező:</div>
        <div class="form-control border-none">
          <mat-checkbox formControlName="optional"></mat-checkbox>
        </div>
      </div>
    </form>
  </div>

  <div class="d-flex w-100 justify-content-around modal-footer">
    <div>
      <button class="btn btn-cancel" (click)="onCancel()">Mégse</button>
    </div>
    <div>
      <button class="btn btn-save" (click)="onSubmit()">Mentés</button>
    </div>
  </div>
</div>