.table-container {
  padding: 20px;
}

.mat-header-cell {
  width: 150px;
  text-align: center;
  background-color: #526475;
  color: #ffffff;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Poppins-Regular";
  font-size: 16px;
  line-height: 20px;
}

.mat-row {
  cursor: pointer;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: separate; /* Don't collapse */
  border-spacing: 0;
}